@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
    font-style: italic;
}

body{
    width: 100%;
    height: auto;
    
}

body::-webkit-scrollbar {
    display: none;
  }

header{
    width: 100%;
    height: 10vh;
    background-color: #2B002B;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 2;

}

.logo{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo > img{
    width: 25%;
    height: 65%;
    margin-left: 20%;
}

.opcoes{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcoes > ul {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    position: relative;
}

.opcoes > ul > li{
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcoes > ul > li > a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

.opcoes > ul > li > a:hover{
    border-bottom: solid 3px #909a92;
}

.opcoes > ul > li > ul{
    display: none;
}

.opcoes > ul > li:hover ul{
    display: flex;
    width: 35%;
    height: 220%;
    background-color: #744F78;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: 100%;
    list-style: none;
    padding-bottom: 2%;
    padding-top: 1%;
    z-index: 2;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
    animation: drop 0.2s ease-out;
}

.menu-drop > li{
    width: 80%;
    height: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 0.5px #fff;
}

.menu-drop > li > a{
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    animation: drop-font 0.2s ease-out;
}

.menu-drop > li > a:hover{
    color: #909a92;
}

.github{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.github > a{
    width: 17%;
    height: 45%;
    margin-right: 20%;
}

.github > a > img{
    width: 100%;
    height: 100%;
}

.main-home{
    width: 100%;
    height: auto;
    padding-top: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.imagem-de-fundo{
    width: 100%;
    height: 90vh;
    position: absolute;
    background-image: url(../Images/456142.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: fixed;
    filter: blur(18.5px);
}

.img-fundo{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* teste */

.img-fundo > h1{
    color: #fff;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 19.2px;
    z-index: 1;

}

.topicos-lugares{
    width: 95%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.topicos-lugares-divisao{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topicos-lugares-divisao-circulo{
    width: 20%;
    height: 14%;
    border-radius: 50%;
    background-color: #2B002B;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.topicos-lugares-divisao-circulo:hover{
    width: 54%;
    height: 40%;
    transition: 0.3s ease-in-out;
}


.topicos-lugares-divisao-circulo > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topicos-lugares-divisao-circulo > a > img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.topicos-lugares-divisao-titulo{
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.topico-lugares-divisao-texto{
    width: 80%;
    height: 45%;
}

.topico-lugares-divisao-texto > P{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

hr{
    width: 70%;
    height: 3px;
    background-color: black;
    border: none;
}

.historia{
    width: 100%;
    height: 100vh;
}

.historia-titulo{
    width: 100%;
    height:30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.historia-titulo > h1{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 20px;
    font-weight: 800;
}

@keyframes drop {
    0%{
        height: 0%;
        opacity: 0;

    }

    100%{
        height: 220%;
        opacity: 100%;
     
    }
}

@keyframes drop-font {
    0%{
        
        opacity: 10%;
    }

    100%{

        opacity: 100%;
    }
}